
.calcul{
    margin-top: 10px;
    box-sizing: border-box;
height: 510px;
text-size-adjust: 100%;
user-select: none;

-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
/* .wrapper{
    background-color: rgb(52, 58, 64);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
box-sizing: border-box;
color: rgb(33, 37, 41);
display: none;
font-size: 16px;
font-weight: 400;
height: 516px;
line-height: 24px;
position: relative;
text-align: left;
user-select: none;
width: auto;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
} */
.keypad {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    margin-top: 20px;
}

button {
    width: 75%;
    padding: 20px;
}
.display {
    background-color: darkgrey;
    border: none;
    margin: auto;
    padding: 10px;
    height: 20vh;
    font-size: larger;
    font-weight: bolder;
    border-radius: 5px;
}
button{
    border: 2px solid cadetblue;
    background-color: slategrey;
    border-radius: 30%;
}