#playmu {
    margin-top: 10px;
    background-image: url(image/wallpapper.jpg);
    background-size: cover;
    height: 510px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    user-select: none;
    display: none;
    padding-top: 10px;
    padding-left: 10px;
}