#playmu {
    margin-top: 10px;
    height: 516px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    text-decoration: none;

    user-select: none;
    display: none;
    padding-top: 10px;
    padding-left: 10px;
}
#playmu #music-list p a {
    text-decoration: none;
    color: goldenrod;
}