* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gen {
    height: 90vh;
    background-color: black;
}
.house {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.round {
    background-color: gray;
    height: 1vh;
    width: 1vw;
}

.rect {
    height: 1vh;
    background-color: grey;
}
.fornetwork {
    margin-left: 200px;
    width: 40%;
}
#firstdisplay {
    height: 510px;
    background-color: rgba(255,255,255, 0.025);
        margin-top: 6px;}
#anotherinner {
    margin-top: 10px;
    background-image: url(image/wallpapper.jpg);
    background-size: cover;
    height: 510px;
    position: relative;
    user-select: none;
    display: none;
}
.screenbutton {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
    padding-left: 0.5rem 
}
.screen {
    margin-top: 240px;
}