* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gen {
    height: 90vh;
    background-color: black;
}
.house {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.round {
    background-color: gray;
    height: 1vh;
    width: 1vw;
}

.rect {
    height: 1vh;
    background-color: grey;
}
.fornetwork {
    margin-left: 200px;
    width: 40%;
}
#firstdisplay {
    height: 510px;
    background-color: rgba(255,255,255, 0.025);
        margin-top: 6px;}
#inside {
    margin-top: 10px;
    background-image: url(image/wallpapper.jpg);
    background-size: cover;
    height: 510px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    user-select: none;
    display: none;
}
/* #fornumbers {

display: none;
} */
.numberbox {
	height: 40px;
	box-shadow: inset 0px 0px 25px 0px rgba(0,0,0, 0.1);
	text-align: center;
	font-size: 17pt;
	position: relative;
	user-select: none;
}
#fornumbers {
    margin-top: 10px;
    background-color: aliceblue;
    height: 510px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    /* display: none; */
}
#firstdisplay {
    margin-top: 10px;
    background-size: cover;
    height: 510px;
    position: relative;
    user-select: none;
}
#gaming {
    margin-top: 10px;
    height: 510px;
}
.screenbutton {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
    padding-left: 0.5rem; 
}
.screen {
    margin-top: 180px;
    justify-content: center;
}
.incoming{
display: none;
}